.category-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  font-style: 14px;

  select {
    padding: 8px 14px;
    border-radius: 28px;
    border: 1px solid #ccc;
  }
}
