$colors-primary: #0d3356;
$colors-secondary: linear-gradient(75deg, #f4e8f3 0%, #f3eff6 52.07%, #eee0f9 102.02%);
$colors-tertiary: #3a4980;

//text
$colors-text-primary: #140342;
$colors-text-secondary: #0d3356;
$colors-text-tertiary: #726c6c;
$colors-text-quaternary: #667085;
$colors-text-quinary: #344054;
